@using StelexarasApp.Library.Dtos.Domi
@model SkiniDto

<h2>Delete Skini</h2>

<h4>Are you sure you want to delete this Skini?</h4>
<div>
    <h4>@Model.Name</h4>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Model.Name</dd>

        <dt>Koinotita</dt>
        <dd>@Model.KoinotitaName</dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
