@using StelexarasApp.Library.Dtos.Domi
@model SkiniDto

<h2>Details for Skini</h2>

<div>
    <h4>Skini</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Model.Name</dd>

        <dt>Koinotita</dt>
        <dd>@Model.KoinotitaName</dd>
    </dl>
</div>

<a asp-action="Index">Back to List</a>
<a asp-action="Edit" asp-route-name="@Model.Name">Edit</a>
<a asp-action="Delete" asp-route-name="@Model.Name">Delete</a>
