@using StelexarasApp.Library.Dtos.Domi
@model SkiniDto

<h2>Edit Skini</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" readonly placeholder="@Model.Name"/>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" placeholder="@Model.Sex" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<a asp-action="Index">Back to List</a>
